.about-company {
  display: flex;
  padding: 0 19.7% 110px;
}

.about-company h2 {
  @include roboto-condensed-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin: 0;
  margin-bottom: 18px;
}

.about-company p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.about-company a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $light-blue;
  border: 1px solid $light-blue;
  box-sizing: border-box;
  border-radius: 5px;
  width: 180px;
  min-height: 45px;
  margin-top: 35px;
  transition: all $transition-time $transition-function;
}


.about-company p+p {
  margin-top: 20px;
}

@media (min-width: $desktop-min-width) {
  .about-company a:hover {
    background: $light-blue;
    color: #ffffff;
  }

  .about-company {
    position: relative;

    &::before {
      @include pseudo-el;
      width: 872px;
      height: 873px;
      background: url("../img/triangle-2.svg");
      transform: rotate(180deg);
      left: -250px;
      top: -400px;
    }
  }
}

.about-company a:focus {
  opacity: 0.3;
}

@media (max-width: $tablet-max-width) {

  .about-company {
    padding: 0 3.3% 83px;
  }

  .about-company h2 {
    margin-bottom: 24px;
  }

  .about-company p {
    width: 102.4%;
    box-sizing: border-box;
  }

  .about-company__last-paragraph {
    /* стили для мноточия '…' */
    /* спрятать текст если у более N строк */
    overflow: hidden;
    /* для установки '…' в абсолютную позицию */
    position: relative;
    /* max-height = line-height (1.2) * число строк (3) */
    max-height: 5.5em;
    /* исправлиление проблемы когда последнее слово не соединяется с правой стороны */
    text-align: justify;
    /* место для многоточия '…' */
    padding-right: 1.2em;


    /* создаём многоточие … */
    &:before {
      /* многоточие в конце */
      content: "..";
      /* абсолютное позиционирование */
      position: absolute;
      /* установить позицию в правый нижний угол блока */
      right: 0;
      bottom: 0;
    }

    /* спрятать многоточие … если у нас есть текст, который меньше или равен количеству максимальный строк */
    &:after {
      content: "";
      position: absolute;
      /* установить позицию в правый нижний угол блока */
      right: 0;
      /* установить width и height */
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      /* цвет фона перед блоком */
      background: white;
    }
  }

  .about-company img {
    width: 231px;
    height: 362px;
    margin-left: -20px;
  }

  .about-company__desc-wrapper {
    margin-left: -26px;
  }
}

@media (max-width: $mobile-max-width) {
  .about-company {
    padding-bottom: 65px;
  }

  .about-company h2 {
    margin-bottom: 18px;
  }

  .about-company img {
    display: none;
  }

  .about-company__desc-wrapper {
    margin-left: 0;
  }

  .about-company h2 {
    font-size: 28px;
    line-height: 39px;
  }

  .about-company p {
    width: 100%;
  }

  .about-company__last-paragraph {
    max-height: 11em;
  }
}
