.accord-btn {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.accord-btn span {
  display: block;
  width: 16px;
  height: 1px;
  background: #C4C4C4;
}

.accord-btn__horizontal {
  transform: rotate(90deg);
}

.accord-btn--opened .accord-btn__horizontal {
  display: none;
}
