.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 22;

  &::after {
    @include pseudo-el;
    width: 54.7%;
    height: 636px;
    top: 32px;
    left: 15.2%;
    right: 9.1%;
    z-index: -1;
    background: url("../img/triangle-2.svg");
    background-repeat: no-repeat;
  }
}

.advantages__list>li:nth-child(2n) {
  margin-left: auto;
}

.advantages__list-item {
  width: 48.6%;
  flex-shrink: 1;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 67px;
  padding-left: 44px;
  padding-right: 42px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $light-blue;
  box-sizing: border-box;
  min-height: 302px;
}

.advantages p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.advantages h3 {
  @include roboto-condensed-font;
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $light-blue;
}

.advantages {
  padding-left: 19.5%;
  padding-right: 19.5%;
  padding-top: 111px;
  padding-bottom: 71px;
  transition: all $transition-time $transition-function;
}

.advantages svg {
  margin-bottom: 17px;
  fill: $light-blue;
}

@media (min-width: $desktop-min-width) {
  .advantages__list-item {
    cursor: pointer;
    transition: all $transition-time $transition-function;

    &:hover {
      background: $light-blue;
    }
  }

  .advantages__list-item:hover h3,
  .advantages__list-item:hover p {
    color: #ffffff;
  }

  .advantages__list-item:hover svg {
    fill: #ffffff;
  }
}

.advantages__list::before {
  @include pseudo-el;
  width: 298px;
  height: 298px;
  left: -171px;
  top: -66px;
  z-index: -1;
  background: url("../img/triangle-1.svg");
}


@media (max-width: $tablet-max-width) {
  .advantages {
    padding: 54px 3.3% 22px;
  }

  .advantages__list::after {
    top: 137px;
    left: 50%;
  }

  .advantages__list-item {
    padding: 24px 26px 19px;
    min-height: auto;
  }

  .advantages svg {
    margin-bottom: 3px;
  }

  .advantages h3 {
    margin-bottom: 9px;
  }

  .advantages__list-item--confident {
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 52px;
  }

  .advantages__list-item--confident h3 {
    margin-bottom: 13px;
  }
}

@media (max-width: $mobile-max-width) {
  .advantages__list {
    display: block;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .advantages__list h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .advantages {
    padding: 37px 4% 22px;
  }

  .advantages svg {
    margin-bottom: 8px;
  }

  .advantages__list-item {
    padding-bottom: 26px;
    min-height: 232px;
    margin-left: 0;
    width: 100%;
    min-height: auto;
  }

  .advantages__list-item:not(:last-child) {
    margin-bottom: 14px;
  }

}
