.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  position: relative;
  z-index: 22;

  &::after {
    @include pseudo-el;
    width: 872px;
    height: 873px;
    top: 10px;
    left: 15.2%;
    right: 9.1%;
    z-index: -1;
    background: url("../img/triangle-2.svg");
  }

  &>li {
    padding-top: 40px;
    padding-bottom: 49px;
    padding-left: 44px;
    padding-right: 42px;
    border: 1px solid #EBEBEB;
    border-left: 3px solid $light-blue;
    box-sizing: border-box;

    & p {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      color: #666666
    }
  }
}

.advantages h3 {
  margin: 0;
  margin-bottom: 15px;
  @include roboto-condensed-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $light-blue;
}

.advantages {
  padding-left: 19.7%;
  padding-right: 19.7%;
  padding-top: 128px;
  padding-bottom: 110px;
  transition: all $transition-time $transition-function;

  & svg {
    margin-bottom: 23px;
    fill: $light-blue;
  }
}

@media (min-width: $desktop-min-width) {
  .advantages ul>li {
    cursor: pointer;
    transition: all $transition-time $transition-function;

    &:hover {
      background: $light-blue;

      & h3,
      & p {
        color: #ffffff;
      }

      & svg {
        fill: #ffffff;
      }
    }
  }

  .advantages ul::before {
    @include pseudo-el;
    width: 298px;
    height: 298px;
    left: -171px;
    top: -55px;
    z-index: -1;
    background: url("../img/triangle-1.svg");
  }
}

@media (max-width: $tablet-max-width) {
  .advantages {
    padding: 54px 3.3% 59px;
  }

  .advantages ul::after {
    top: 137px;
    left: 26%;
  }

  .advantages ul>li {
    padding: 24px 26px 12px;

    & svg {
      margin-bottom: 13px;
    }

    &:nth-child(3) {
      padding-top: 27px;
      padding-right: 20px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .advantages ul {
    display: block;

    &::after {
      display: none;
    }

    & h3 {
      font-size: 20px;
      line-height: 28px;
    }

    & li {
      padding-bottom: 16px;
      min-height: 232px;
    }

    &>li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
