.company-logo {
  width: 227px;
}

.company-logo__icon {
  display: none;
}

@media (max-width: $mobile-max-width) {
  .company-logo--header img {
    display: none;
  }

  .company-logo--header {
    width: auto;
  }

  .company-logo--footer {
    margin: 0 auto;
  }

  .company-logo__icon--header {
    display: block;
  }
}
