.page-header {
  background-color: $backround-grey;
  background-image: url("../img/header-background.png");
  background-position: top center;
}

.page-header__mail,
.page-header__tel {
  display: inline-flex;
  align-items: center;
}


.page-header a {
  text-decoration: none;
}

.page-header__mail span,
.page-header__tel span {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.page-header__mail span {
  margin-left: 20px;
}

.page-header__tel span {
  margin-left: 16px;
}

.page-header__contacts {
  display: flex;
  width: 667px;
  flex-shrink: 1;
  justify-content: space-between;
}

.page-header__call-btn {
  @include roboto-condensed-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  padding: 11px 13px 8px 12px;
  cursor: pointer;
}

.page-header__top {
  width: 73.5%;
  margin: 0 auto;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__bottom {
  padding-left: 13.1%;
  padding-right: 9.3%;
  display: flex;
  padding-bottom: 92px;
}

.page-header__bottom img {
  padding-top: 185px;
  margin-left: 10%;
  position: relative;
  z-index: 2;
  width: 100%;
}


.page-header__img-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 611px;
    height: 487px;
    top: 206px;
    right: 20px;
    z-index: 1;
    background-image: url("../img/triangle-desktop.png");
  }
}

@media (min-width: $desktop-min-width) {
  .page-header__mail:hover span,
  .page-header__tel:hover span {
    color: $light-blue;
    transition: all $transition-time $transition-function;
  }

  .page-header__contacts button:hover {
    color: $light-blue;
    border-color: $light-blue;
    transition: all $transition-time $transition-function;
  }
}

.page-header__mail:focus span,
.page-header__mail:focus svg,
.page-header__tel:focus span,
.page-header__tel:focus svg {
  opacity: 0.3;
}

.page-header__contacts button:focus {
  opacity: 0.3;
}

@media (max-width: $tablet-max-width) {
  .page-header__mail span,
  .page-header__tel span,
  .page-header__call-btn {
    display: none;
  }

  .page-header__contacts {
    width: 82px;
  }

  .page-header__top {
    width: 93.3%;
    padding-top: 20px;
  }

  .page-header__bottom {
    padding-left: 77px;
    padding-right: 0;
    padding-bottom: 163px;
    justify-content: space-between;
  }

  .page-header__bottom img {
    margin: 0;
    padding-top: 42px;
  }

  .page-header__envelope-icon {
    width: 25px;
    height: 19px;
  }

  .page-header__phone-call-icon {
    width: 24px;
    height: 24px;
  }

  .page-header__img-wrapper::after {
    background-image: url("../img/triangle-tablet.png");
    width: 314px;
    height: 385px;
    top: 0;
    right: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header__top {
    width: 89.6%;
  }

  .page-header__bottom {
    padding-left: 5%;
    position: relative;
  }

  .page-header__img-wrapper {
    position: absolute;
    right: 0;

    &::after {
      background-image: url("../img/triangle-mobile.png");
      width: 153px;
      height: 368px;
      top: 20px;
    }
  }
}
