.page-footer h2 {
  @include roboto-condensed-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin: 0 0 29px;
}

.page-footer {
  background-color: #fafafa;
  padding-bottom: 14px;
}

.page-footer_accord-btn {
  display: none;
}

.page-footer__navigation-list a,
.page-footer__office-location a,
.page-footer__office-location p {
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.page-footer li {
  list-style: none;
}

.page-footer a {
  text-decoration: none;
}

.page-footer__copyright-info {
  display: none;
}

.page-footer__copyright-conditions,
.page-footer__copyright-date,
.page-footer__copyright-develop,
.page-footer__copyright-info,
.page-footer__copyright-law {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  margin: 0;
}

.page-footer__copyright a {
  color: #1b2d37;
}

.page-footer__top-wrapper {
  padding-top: 65px;
  padding-left: 13.3%;
  padding-right: 13.4%;
  display: flex;
  margin-bottom: 55px;
}

.page-footer__copyright {
  padding-left: 13.2%;
  padding-right: 13.4%;
  display: flex;
  padding-top: 14px;
  border-top: 1px solid rgba(98,105,98,0.2);
}

.page-footer__navigation ul,
.page-footer__office-location ul {
  padding: 0;
  margin: 0;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 112px;
  margin-top: 50px;
}

.page-footer__office-location address {
  font-style: normal;
}

.page-footer__navigation {
  flex-shrink: 1;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
}

.page-footer__navigation ul {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  width: 83%;
}

.page-footer__copyright-date {
  margin-left: 4.8%;
}

.page-footer__copyright-conditions {
  margin-left: 10.2%;
}

.page-footer__copyright-develop {
  margin-left: 28.8%;
}

.page-footer__nav-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 13.8%;
}
@media (min-width: $desktop-min-width) {
  .page-footer__social-link:hover svg {
    transform: scale(1.2);
    transition: all $transition-time $transition-function;
  }

  .page-footer__copyright a:hover,
  .page-footer__navigation-list a:hover,
  .page-footer__office-location a:hover {
    color: $light-blue;
    transition: all $transition-time $transition-function;
  }
}

.page-footer__social-link:focus svg {
  opacity: 0.3;
}

.page-footer__copyright a:focus,
.page-footer__navigation-list a:focus,
.page-footer__office-location a:focus {
  opacity: 0.3;
}
@media (max-width: 1220px) {
  .page-footer__navigation ul {
    display: block;
    height: auto;
  }
}
@media (max-width: $tablet-max-width) {
  .page-footer__copyright,
  .page-footer__top-wrapper {
    padding: 0;
  }

  .page-footer__top-wrapper {
    display: block;
    margin-bottom: 36px;
  }

  .page-footer__logo-container {
    flex-direction: row;
    align-items: center;
    padding: 19px 3% 21px 3.3%;
    border-bottom: 1px solid rgba(98,105,98,.2);
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__navigation {
    width: auto;
  }

  .page-footer h2 {
    margin-bottom: 25px;
  }

  .page-footer__social-list {
    margin-top: 0;
  }

  .page-footer__nav-wrapper {
    margin: 0;
    padding: 0 4.9% 0 3.3%;
    margin-top: 38px;
  }

  .page-footer__navigation ul {
    display: block;
    min-height: 175px;
  }

  .page-footer__copyright {
    padding: 21px 3% 24px 3.3%;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__copyright-info {
    display: block;
  }

  .page-footer__copyright-law {
    display: none;
  }

  .page-footer__copyright-date {
    display: none;
  }

  .page-footer__copyright-conditions {
    margin-left: 0;
  }

  .page-footer__copyright-develop {
    margin-left: 0;
  }
}
@media (max-width: $mobile-max-width) {
  .page-footer__logo-container {
    display: block;
    padding-bottom: 48px;
    padding-top: 44px;
  }

  .page-footer__copyright-info {
    text-align: center;
    margin: 26px 0 31px;
  }

  .page-footer__social-list {
    margin: 0 auto;
  }

  .page-footer__nav-wrapper {
    display: block;
    padding: 0;
    margin: 0;
  }

  .page-footer__navigation {
    border-bottom: 1px solid rgba(98,105,98,.2);
    width: auto;
    min-width: auto;
    max-width: 100%;
  }

  .page-footer__navigation ul,
  .page-footer__office-location address {
    transition: all $transition-time $transition-function;
  }

  .page-footer__navigation ul {
    display: none;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 36px;
  }

  .page-footer__navigation--nojs ul {
    display: flex;
  }

  .page-footer__office-location address {
    width: 85vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .page-footer__copyright {
    display: block;
    padding: 28px 0 0;
  }

  .page-footer__copyright p {
    text-align: center;
  }

  .page-footer h2,
  .page-footer__top-wrapper {
    margin: 0;
  }

  .page-footer__navigation,
  .page-footer__office-location {
    padding: 29px 5.3% 28px 4.7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-footer {
    padding-bottom: 26px;
  }

  .page-footer__copyright-conditions {
    margin-bottom: 21px;
  }

  .page-footer_accord-btn {
    display: block;
  }
}
