.services {
  background: #1b2d37;
  padding: 92px 19.7% 129px;
}

.services__caption {
  @include roboto-condensed-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin: 0 0 26px;
  padding: 0;
}

.services h3 {
  margin: 0;
}

.services__list {
  margin: 0;
  padding: 0;
  width: 99.9%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.services__arrow-wrapper {
  width: 63px;
  height: 63px;
  background-color: $light-blue;
  position: relative;
  align-self: flex-end;

  &::after {
    @include pseudo-el;
    content: url("../img/icon-arrow.svg");
    width: 4px;
    height: 8px;
    bottom: 65%;
    right: 50%;
  }
}

.services__list li {
  background-repeat: no-repeat;
  background-size: cover;
  width: 31.6%;
  min-height: 620px;
  margin-top: 20px;
}

.services__list > li:not(:nth-child(4n)) {
  margin-left: 10px;
}

.services__list > li:first-child {
  margin-left: 0;
}

.services__list-item--production {
  background: url("../img/services-production-desktop@1x.png");

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background: url("../img/services-production-desktop@2x.png");
  }
}

.services__list-item--mounting {
  background: url("../img/services-mounting-desktop@1x.png");

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background: url("../img/services-mounting-desktop@2x.png");
  }
}

.services__list-item--goods {
  background: url("../img/services-goods-desktop@1x.png");

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background: url("../img/services-goods-desktop@2x.png");
  }
}

.services__link {
  @include roboto-condensed-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all $transition-time $transition-function;
  position: relative;
}

.services__list-item h3 {
  @include roboto-condensed-font;
  display: block;
  width: 46%;
  margin-top: 53px;
  margin-left: 12%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: $desktop-min-width) {
  .services__link:hover {
    color: $light-blue;
    box-shadow: 0 14px 28px $light-blue, 0 10px 10px $light-blue;
  }
}

.services__link:active {
  opacity: 0.3;
}

@media (max-width: $tablet-max-width) {
  .services {
    padding: 48px 3.3% 78px;
  }

  .services__caption {
    margin-bottom: 39px;
  }

  .services__arrow-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .services__list {
    display: block;
  }

  .services__list > li {
    width: auto;
    min-height: auto;
    margin-top: 0;
  }

  .services__list>li:not(:nth-child(4n)) {
    margin-left: 0;
  }

  .services__list-item:not(:last-child) {
    margin-bottom: 46px;
  }

  .services__list-item h3 {
    margin-top: 43px;
    margin-left: 44px;
    width: 24%;
  }

  .services__list-item--production {
    background: url("../img/services-production-tablet@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/services-production-tablet@2x.png");
    }
  }

  .services__list-item--mounting {
    background: url("../img/services-mounting-tablet@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/services-mounting-tablet@2x.png");
    }
  }

  .services__list-item--goods {
    background: url("../img/services-goods-tablet@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/services-goods-tablet@2x.png");
    }
  }

  .services__link,
  .services__list-item {
    min-height: 256px;
  }
}

@media (max-width: $mobile-max-width) {
  .services {
    padding: 53px 0 65px;
  }

  .services__list {
    width: calc(100% - 31px);
    margin: 0 auto;
  }

  .services__caption {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 38px;
    margin-left: 27px;
  }

  .services__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .services__list-item h3 {
    margin-top: 23px;
    margin-left: 25px;
    width: 53%;
  }

  .services__list-item--goods h3 {
    margin-top: 31px;
    margin-left: 34px;
  }

  .services__list-item--production {
    background: url("../img/services-production-mobile@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/services-production-mobile@2x.png");
    }
  }

  .services__list-item--mounting {
    background: url("../img/services-mounting-mobile@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/services-mounting-mobile@2x.png");
    }
  }

  .services__list-item--goods {
    background: url("../img/services-goods-mobile@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/services-goods-mobile@2x.png");
    }
  }
}

.services__list-item--lazy {
  background-image: none;
  background-color: #34434b;
}
