@import "./font.scss";
@import "./blocks/visually-hidden.scss";
@import "./mixin.scss";
@import "./variables.scss";
@import "./normalize.scss";

// blocks
@import "./blocks/page-header.scss";
@import "./blocks/boards.scss";
@import "./blocks/company-logo.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/accord-btn.scss";
@import "./blocks/advantages.scss";
@import "./blocks/about-company.scss";

body {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  min-width: $mobile-min-width;
}
